{if !$isLocked}
	<p><a n:href="toggleBoard!">{if $shouldBoardBePrinted}Skrýt hrací pole{else}Zobrazit hrací pole{/if}</a></p>
	<p>Hráč {$currentPlayer}</p>
{/if}

<p n:ifset="$message"><strong>{$message}</strong></p>

<p><a n:href="restart!">Začít novou hru</a></p>

{control turnForm}

{if $shouldBoardBePrinted}<pre>{$board}</pre>{/if}
