php:
	date.timezone: Europe/Prague

nette:
	session:
		expiration: 30 days

services:
	- TicTacToe\PersistentGame

	- implement: WebsiteModule\IGameControlFactory
	  parameters: [TicTacToe\Settings settings]
	  arguments: [%settings%]
